<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>You're doctor?</p>
        <p v-if="xacdinh">Yes, I am<span>a doctor</span></p>
        <p v-else>No, I am IT</p>
        <button @click="xacdinh = !xacdinh">Change condition</button>

        <template v-if='xacdinh'>
            <div>Menu 1</div>
            <div>Menu 1</div>
            <div>Menu 1</div>
            <div>Menu 1</div>
            <div>Menu 1</div>
        </template>

    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                xacdinh: true
            }

        });
    </script>
</body>

</html>